@CHARSET "UTF-8";

.header{
	width: 90%;
	background-color: green;
	height: 100px;
	margin: 0 auto;
}

.footer{
	width: 100%;
	background-color: gray;
	height: 100px;
	position: fixed;
	left: 0;
	bottom: 0;
}